/* main */
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden !important;
    font-family: 'Koulen', cursive;

}

@media (max-width: 575px) {
    .container{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box ;
    }
    
} 
@media (max-width: 767px) and (min-width: 576px ){
    .container{
        width: 95%;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box ;
    }
    
} 
@media (max-width: 991px) and (min-width: 768px ){
    .container{
        width: 90%;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box ;
    }
    
} 
@media  (min-width: 992px ){
    .container{
        width: 85%;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box ;
    }
    
}

.logo img{
    height: 60px;
    padding: 10px;
} 
/* end main */
/*///////////////intro////////////////////// */
header{
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/pexels-paul-loh-233698.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header .layer{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.485);
}
/* ///////////////////start nav//////////////////// */
header .nav .bars{
    color:  rgb(206, 185, 103);
    font-size: 35px;
    display: none;
}
header .nav {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav nav{
    width: 80%;
    
}
header .nav nav .links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav nav ul{
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
header .nav nav ul a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header .nav .contact i{
    color: rgb(206, 185, 103);
    font-size: 30px;

}
header .nav .contact i span{
    color: black;
    font-size: 18px;
    color: white;
}
header .nav .contact i span a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-left: 35px;
}
header .nav .contact i span a:hover{
    text-decoration: underline;
    transition: all .3s;
}
.layer2{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    display: none;
    z-index: 8;
    transition: all .6s;
}
.logo-2 {
    display: none;
}
.contact-small-screens{
    display: none;
}
/* ///////// start mobile and tablet screen////////// */
@media (max-width: 992px) {
    .contact{
        display: none;
    }
    .contact-small-screens{
        display: inline-block;
    }
    .contact-small-screens p{
        color: rgb(67, 66, 66);
        font-size: 17px;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .contact-small-screens a{
        color: white;
        text-decoration: none;
        transition: all .5s;
    }
    .contact-small-screens a:hover{
        text-decoration: underline;
        transition: all .5s;
    }
    .contact-small-screens .social{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact-small-screens .social a{
        padding: 20px;
        height: 60px;
        width: 60px;
        font-size: 25px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(64, 64, 64);
        background-color: rgb(26, 26, 39);
        border-radius: 50%;
    }
    .contact-small-screens .social a:hover{
        text-decoration: none;
        background-color: rgb(206, 185, 103);
        transition: all .7s;
    }
    .layer2{
         display: inline-block; 
    }
    .nav nav .links{
        max-width: 400px;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 9;
        padding: 25px;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start !important;
        justify-content: center;
        flex-wrap: wrap;
    }
    .hiden{
        position: absolute;
        top: 0;
        right: 100%;
        transition: all .7s;
    }
    .hiden2{
        position: absolute;
        top: 0;
        left: -100%;
        transition: all .7s;
    }
    .visible{
        position: absolute;
        top: 0;
        right: 0;
        transition: all .7s;
    }
    .visible2{
        position: absolute;
        top: 0;
        left: 0;
        transition: all .7s;
    }
    .nav nav .links .logo-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .nav nav .links .logo-2 img{
        height: 100px;
    }
    .nav nav .links .logo-2 i{
        color: white;
        font-size: 35px;
        cursor: pointer;
    }
    .nav nav .links ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .nav nav .links ul li{
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(70, 70, 70);
    }
    .nav nav .links ul li a{
        width: 100% !important;
        color: rgb(70, 70, 70);
    }
    .nav nav .links ul li a:hover{
        color: rgb(206, 185, 103);
    }
    .nav nav{
        width: fit-content !important;
    }
    header .nav .bars {
        display: inline-block;
    }
    
} 
/* ///////// end mobile and tablet screen////////// */

/* ///////////////////end nav//////////////////// */

/* ////////start intro welcome message ///////// */
.landing-container{
    width: 100%;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.landing{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.landing h1{
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 25px;
    line-height: 120px;
    margin-bottom: 40px;
}
.landing span{
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.landing button{
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: rgb(206, 185, 103);
    position: relative;
    overflow: hidden;
}

.landing button:hover{
    background-color: black;
    color: white;
    transition: all .5s ;
}


/* ////////end intro welcome message ///////// */
/* /////////start mobile screen for the landing page///////////// */

@media (max-width: 767px) {
    .landing br{
        display: none;
    }
    .landing{
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .landing h1{
        font-size: 45px;
        letter-spacing: 10px;
        font-weight: lighter;
        line-height: 80px;
    }
    
} 
/* /////////end mobile screen for the landing page///////////// */


/* /////////////////////end intro/////////////////// */
/* ////////////////////////////// start about//////// */
.about{
    width: 100%;
    background-color: rgb(28, 27, 27);
    padding-top: 100px;
    padding-bottom: 100px;
}
.about .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
}
.about .container .text{
    width: 50%;
}
.about .container .text h1{
    font-size: 35px;
    letter-spacing: 7px;
    line-height: 45px;

}
.about .container .text h1 span{
    color: rgb(206, 185, 103);
}
.about .container .text p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
.about .container .cardes{
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.about .container .cardes .card{
    width: 48%;
}.about .container .cardes-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.about .container .card{
    width: 24%;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(26, 26, 39);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    transition: all .3s;
    position: relative;
}
.about .container .card .card-text{
    width: 30%;
    
}
.about .container .card .card-text span{
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(83, 83, 83);
    margin-bottom: 40px;
    font-weight: bolder;
    transition: all .3s;
}
.about .container .card .card-text a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition: all .3s;
}
.about .container .card i{
    font-size: 55px;
    margin-top: 20px;
    color: rgb(206, 185, 103);
    transition: all .3s;
}
.about .container .card::after{
    content: "";
    height: 70%;
    width: 30%;
    background-color: rgba(117, 96, 11, 0.752);
    position: absolute;
    top: 30%;
    left: 60%;
    z-index: -1;
    transform: rotate(45deg) translate(90%);
    transition: all .3s;
}
.about .container .card:hover{
    color: black;
    background-color: rgb(206, 185, 103);
    transition: all .3s;
}
.about .container .card:hover i,.about .container .card:hover a{
    color: black;
    transition: all .3s;
}
.about .container .card:hover::after{
    z-index: 1;
    transform: rotate(45deg) translate(80%);
    transition: all .3s;
}
.about .container .card a:hover{
    text-decoration: underline;
}
@media (max-width: 991px) {
    .about .container .text, .about .container .cardes{
        width: 100%;
    }
    .about .container .cardes-2{
        margin-top: 0px;
        width: 100%;
    }
   .about .container .card {
        width: 48% !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    
    
    .about .container .card {
        width: 100% !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/* //////////////// end about ////////////////// */
/* ////////////////////start vedio section///////////////////// */

.vedio{
    height: 70vh;
    padding-top: 60px ;
    box-sizing: border-box;
    background-color: rgb(26, 26, 39);
    position: relative;
}
.vedio .container .header{
    width: 100%;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px ;
}
.vedio .container .header span{
    color: rgb(206, 185, 103);
}
.vedio .container .vid-container{
    height: 50vh;
    padding: 50px;
    border-radius: 10px;
    background-image: url("../imgs/pexels-andrea-piacquadio-3865617.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.vedio .container .vid-container .black-and-white{
    height: 450px;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.284);
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: 30px;
}
.vedio .container .vid-container .controls {
    height: 400px;
    width: 400px;
    background-color: rgb(206, 185, 103);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: -30px;
    margin-bottom: 100px;
}
.vedio .container .vid-container .controls i{
    font-size: 30px;
    color: white;
    /* padding: 15px; */
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
}
.vedio .container .vid-container .controls i:hover{
    color: rgb(206, 185, 103);
    background-color: white;
    transition: all .5s;
}
.vedio .container .vid-container .controls h1{
    margin-top: 70px;
    padding-left: 30px;
    font-size: 30px;
    width: 50%;
}
.vedio .container .vid-container .controls a{
    color: rgb(59, 59, 59);
    font-size: 20px;
    float: right;
    margin-right: 60px;
    text-decoration: none;
    position: relative;
}
.vedio .container .vid-container .controls a::after{
    content: "";
    height: 2px;
    width: 110px;
    background-color: rgb(59, 59, 59);
    position: absolute;
    top: 100%;
    left: 0;
    transition: all .5s;
}
.vedio .container .vid-container .controls a:hover::after{
    transform: scale(.5);
    transition: all .5s;
}
.position{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 767px) {
    .vedio .container .vid-container .black-and-white{
        width: 100%;
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        border-radius: 10px;
    }
    .vedio .container .vid-container .controls{
        height: 80%;
        width: 90%;
        margin: auto;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
     .vedio .container .vid-container .controls h1 {
        width: 100%;
        text-align: center;
        padding-left: 0;
        margin-top: 10px;
        
    } 
    .vedio .container .vid-container .controls .controls-container{
        text-align: center;
        /* width: 100%; */
    }
    .vedio .container .vid-container .controls i{
        margin-bottom: 10px;
        margin-left: 23%;
    }
    .vedio .container .header{
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    
}
/* /////////////////////////the vedio//////////////////// */
.the-video{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    
}
.the-video .close{
    color: white;
    font-size: 40px;
    height: 60px;
    width: 60px;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.remove{
    position: absolute;
    top: -100px;
    left: 100%;
    z-index: 10;
    transition: all .7s;
}
.active{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 11;
    transition: all .7s;
}
.the-video iframe{
    width: 90%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ////////////////////end vedio section///////////////////// */




/* main color======> rgb(206, 185, 103) */